form{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 20px;
	margin-top: 20px;
	border: 1px solid #cccccc;
	box-shadow: 10px 10px 10px rgba(51, 51, 51, .2);
	border-radius: 5px;
	h1{
		margin-bottom: 30px;
	}
	.form-group{
		width: 100%;
		display: block;
		label,input{
			width: 100%;
		}
		label{
			display: block;
			margin-bottom: 10px;
		}
		input{
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 10px;
			padding-left: 20px;
		}
	}
	#submit-button{
		width:200px;
		height:40px;
		margin-top:20px;
		background:rgb(18, 106, 238);
		color:white;
		border-radius:5px;
		text-align: center;
		padding-top:7px;
		cursor: pointer;
	}
}
.data-wrapper{
	display:flex;
	width:100%;
	margin-top:20px;
	.data-card{
		flex-basis:20%;
		flex-shrink: 0;
		margin-left: 20px;
		margin-right: 20px;
		border:1px solid #333;
		box-shadow: 10px 10px 10px rgba(51, 51, 51, .2);
		padding:20px;
		border-radius:5px;
		#delete-button{
			position: relative;
			width:200px;
			height:40px;
			margin-top:20px;
			background:rgb(216, 56, 56);
			color:white;
			border-radius:5px;
			text-align: center;
			padding-top:7px;
			cursor: pointer;
		}
	}
}